:root {
    --primary-dark: #00537A;
    --primary-darker: #013C58;
    --secondary-light: #A8E8F9;
}

.bg-primary { background-color: var(--primary-dark) !important; }

.btn-primary {
    background-color: var(--primary-dark);
    border-color: var(--primary-dark);
}

.btn-primary:hover {
    background-color: var(--primary-darker);
    border-color: var(--primary-darker);
}

.btn-warning {
    background-color: #F5A201;
    border-color: #F5A201;
    color: white;
}

.table th {
    background-color: var(--secondary-light);
    color: var(--primary-darker);
}

.card-header {
    background-color: var(--primary-dark) !important;
    color: white !important;
}

.sidebar .nav-link:hover {
    background-color: var(--secondary-light);
    border-radius: 5px;
}